body {
    background: rgb(213, 251, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(181, 182, 255);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(241, 198, 117);
    display: flex;
    border-radius: 5px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
    border-radius: 75px;
}
.sidebar-img {
    width: 220px;
    height: 220px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 7px rgb(181, 182, 255) ridge;
    padding: 5px;
}
h2, h3 {
    margin: 0px;
}

/* portfolio styles */
.content h1 {
color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: rgb(237, 238, 255);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}